body{
    padding: 0;
    margin: 0;
    background-color: #080808;
}
a{
  text-decoration: none;
  color: #000;
}
img{padding: 0;margin: 0;}

div{
  word-wrap: break-word;
  word-break: keep-all;
}
header nav{
  font-family: 'Pretendard-700';
}


.background{
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  box-sizing: border-box;
}

.footer{
  width: 35.5729vw;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 4.3229vw;
}

@media screen and (max-width: 1400px) {
  .footer{
    width: 68.125vw;
    margin-bottom: 6.34vw;
  }
}

@media screen and (max-width: 744px) {
  .footer{
    width: 83.6111vw;
    margin-bottom: 16.111vw;
  }
}