@import url('common.css');
@import url('about/about.css');
@import url('work/work.css');
@import url('workdetail/workdetail.css');
@import url('service/service.css');
@import url('navigation/nav.css');
@import url('contact/contact.css');


/* .menu{
  width: 3.2292vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 30px;
}
.menu svg{display: none;} */

















/* pagination */
  /* .pagination{
    width: 3.2292vw;
    height: calc(100vh - 3.148vh);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
  .container .pagination, .background .pagination{
    background-color: #0BD060;
  }
  .pagination .title{
    text-transform: uppercase;
  }
  .pagination .title a{
    color: #080808;
  }
  .pagination >div:first-child{
    transform-origin: right center;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 3.148vh;
    right: 50%;
    font-size: 2.9630vh;
  }
  .pagination .icon-wrap{
    position: absolute;
    bottom: 2.6389vh;
    display: flex;
    flex-direction: column;
    right: 50%;
    transform: translate(50%);
  }
  .pagination .icon-wrap svg{
    margin-top: 3.2407vh;
    width: 1.4583vw;
    height: auto;
  }
  .container .pagination >a svg{
    fill: #080808;
  }
  .container .pagination .icon-wrap svg{
    stroke: #080808;
    stroke-width: 2.4px;
  }
  .background .pagination .icon-wrap >a svg{
    fill: #080808;
  }
  .background .pagination .icon-wrap >span svg{
    stroke: #080808;
    stroke-width: 2.4px;
  }
  .visible{
    display: block;
  }
  .invisible{
    display: none;
  }
@media screen and (max-width : 834px) {
  .pagination{
    width: 60px;
    height: calc(100vh - 50px);
    color: #FFF;
  }
  .container .pagination, .container .menu{
    background-color: rgba(0,0,0,0);
  }
  .container .pagination .icon-wrap{
    display: none;
  }
  .background .pagination{
    background-color: #080808;
  }
  .background .pagination .title a{
    color: #0BD060;
  }
  .background .pagination .icon-wrap >a svg{
    fill: #0BD060;
  }
  .background .pagination .icon-wrap >span svg{
    stroke: #0BD060;
  }
  .menu{
    width: 60px;
    height: 100vh;
  }
  .background .menu{
    background-color: #080808;
  }
  .menu svg{
    width: 12px;
    height: auto;
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%);
    display: block;
  }
  .pagination >div:first-child{
    font-size: 17px;
  }
  .pagination .icon-wrap{
    bottom: 44px;
  }
  .pagination .icon-wrap svg{
    margin-top: 14px;
    width: 13px;
  }
} */


/* canvas */
.p5{
  position: absolute;
  width: 100vw;
  height: 100vh;
}



