.screen3{
  position: relative; 
  color: #FFF;
  width: 100%;
}
.about-screen3-container{
  width: 72.875%;
  height: auto;
}
.about-screen3-container .clients-statement{
  position: absolute;
  top: 25vh;
  width: 30vw;
  font-size: 1.3865vw;
  margin-bottom: 5.78125vw;
}
.about-screen3-container  .clients-logo-wrap >div:first-child{
  font-size: 2.0833vw;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width:1440px) {
  .about-screen3-container{
    width: 81%;
  }
  .about-screen3-container .clients-statement{
    width: 71.625vw;
    font-size: 3vw;
    margin-bottom: 9.537vh;
  }
  .about-screen3-container  .clients-logo-wrap >div:first-child{
    font-size: 3.75vw;
    font-weight: 500;
  }
}

@media screen and (max-width:744px) {
  .about-screen3-container{
    width: 82.778%;
  }
  .about-screen3-container .clients-statement{
    top: 16.625vh;
    width: 81.778vw;
    font-size: 4.444vw;
    line-height: 6.111vw;
    /* margin-bottom: 5vh; */
  }
  .about-screen3-container  .clients-logo-wrap >div:first-child{
    position: absolute;
    top: 39.625vh;
    font-size: 4.444vw;
    font-weight: 600;
  }
}