.screen1{
    box-sizing: border-box ;
  }
  .videocontainer{
    box-sizing: border-box ;
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
  }
  .videocontainer .text{
    transition: transform 1.3s ease-out, opacity 1.3s ease-out;
    opacity: 1;
    position: relative;
    width: 71.7188vw;
    height: 498px;
  }

  /* 비디오 넣기 전 -> screen1.js에서 tex가 원래 제일 부모여씀 */
    /* .screen1 .text{
      transition: transform 1.3s ease-out, opacity 1.3s ease-out;
      opacity: 1;
      position: relative;
      width: 71.7188vw;
      height: 498px;
    } */
  .homelogo1{
    position: absolute;
    top: 0;
    left: 0;
    width: 962px;
    height: auto;
  }
  .homelogo2{
    position: absolute;
    bottom: 0px;
    right: -200px;
    width: 955px;
    height: auto;
  }
  .video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
  }
  

  @media screen and (max-width : 1440px){
    .screen1 .text{
      width: 83.25vw;
      height: 261px;
    }
    .homelogo1{
      width: 508px;
      height: auto;
    }
    .homelogo2{
      bottom: -10px;
      right: -100px;
      width: 500px;
      height: auto;
    }
  }

  @media screen and (max-width : 744px){
    .screen1 .text{
      width: 81.667vw;
    }
    .homelogo1{
      width: 294px;
      /* width: 71.9444vw; */
      height: auto;
    }
    .homelogo2{
      bottom: 107px;
      right: -59.6px;
      width: 280px;
      height: auto;
    }
  }

  /* 로고 스르륵 사라지는 효과 추가하기 */