.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4828vw;
    padding: 14.0312vw 13.542vw 14.0312vw 13.542vw;
  }
  .flex-item{
    width: calc((100% - 1.4828vw) / 2);
    position: relative;
  }
  .flex-item img{
    width: 100%;
    height: auto;
  }
  .project{
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25vw;
    box-sizing: border-box;
    display: none;
    text-transform: uppercase;
  }
  .project >div:first-child{
    font-size: 1.25vw;
  }
  .project >div:nth-of-type(2){
    font-size: 0.9896vw;
    line-height: 1.25vw;
    margin-top: 0.4vw;
    color: rgba(255,255,255,0.5);
  }
  .flex-item:hover .project{
    display: block;
    background-color: rgba(0,0,0,0.8);
  }
  
  @media screen and (max-width : 1440px) {
    .flex-wrap{
      gap: 4.0825vw;
      padding: 33.5vw 7.125vw 33.5vw 7.125vw;
    }
    .flex-item{
      width: 100%;
    }
    .project{
        padding: 3.7662vw 4.9812vw;
    }
    .project >div:first-child{
        font-size: 3vw;
    }
    .project >div:nth-of-type(2){
        font-size: 2.375vw;
        margin-top: 1.58vw;
      }
}

@media screen and (max-width : 744px) {
  .flex-wrap{
    gap: 6.666vw;
    padding: 39.1667vw 8.6111vw;
  }
  .project{
    position: static;
    display: block;
    padding: 2.3vw 0 0;
    height: auto;
  }
  .project >div:first-child{
    font-size: 4.305vw;
  }
  .project >div:nth-of-type(2){
    font-size: 2.5vw;
    line-height: 3.6111vw;
    margin-top: 0.3vw;
  }
}