.mobile-menu{display: none;}
.menu{display: none;}

@media screen and (max-width : 744px) {
  header{display: none;}

  .menu{
    display: block;
    position: absolute;
    top: 21.389vw;
    right: 6.667vw;
    width: 5vw;
    height: auto;
  }

  .mobile-menu{
    display: block;
    position: fixed;
    z-index: 10;
    top: 0; left: 100%; bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    /* padding-top: 31.007vh; */
    box-sizing: border-box;
    text-align: center;
    transition: left 0.8s ease;
  }
  .menu-on{
    left: 0;
  }
  .mobile-menu > svg{
    position: absolute;
    z-index: 20;
    right: 7.15vw;
    top: 21.667vw;
    fill: #FFF;
    width: 14.26px;
    height: auto;
  }
  .mobile-menu >div{
    margin-top: 50vh;
    transform: translate(0,-50%);
    text-transform: uppercase;
  }
  .mobile-menu a{
    display: block;
    font-size: 6.667vw;
    margin-bottom: 10.8333vw;
    color: #FFF;
    font-weight: 700;
  }
  .mobile-menu a:target{
    color: white;
  }
}