
.screen3{
    position: relative; 
    color: #FFF;
  }
  .screen3 .text{
    width: 30.9896vw;
    height: 10vw;
    font-size: 1.3542vw;
    line-height: 2.5vw;
    position: absolute;
    top: 14.0625vw;
    left: 14.0625vw;
    box-sizing: border-box;
  }
  .screen3 .clients-logo-wrap{
    position: absolute;
    width: 71.875%;
    text-transform: uppercase;
    font-size: 2.0833vw;
    box-sizing: border-box;
    overflow: auto;
    left: 14.0625vw;
    top: 30.3958vw;
  }
  .screen3 .clients-logo-wrap >div:first-child{
    margin-bottom: 7.778vh;
  }
  @media screen and (max-width:834px) {
    .screen1 .text{
      font-size: 7.778vw;
      padding: 10vw 0vw 12.22vw 7.778vw;
      color: #FFF;
    }
    .screen2{
      background-color: #0BD060;
    }
    .screen2 .text{
      color: #000;
      font-size: 8.333vw;
      font-weight: 700;
      padding: 13.611vw 0vw 13.611vw 7.778vw;
    }
    .screen3 .text{
      width: 69.444vw;
      font-size: 4.722vw;
      line-height: 6.667vw;
    }
    .screen3 .clients-logo-wrap >div:first-child{
      font-size: 7.778vw;
    }
    .container{
      padding-right: 60px;
    }
  }