/* detail.js */
.flex-layout{
    display: flex;
    flex-wrap: wrap;
    gap: 2.0357%;
    margin-bottom: 2.0357%;
  }
  .flex-layout span{
    flex: 1 1 40%;
  }
  .flex-layout span img{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width : 834px) {
    .flex-layout span{
      flex: 1 1 100%;
    }
    .detail-images-wrap{
      margin-top: 8.8889vw;
    }
  }