/* menu bar */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 3.2292vw;
  z-index: 10;
}
.nav-bar{
  display: flex;
  justify-content: center;
  gap: 3.2292vw;
  margin-top: 2.0313vw;
  font-size: 1.0427vw;
  text-transform: uppercase;
}
.nav-bar .active{
  color: #FFF;
}
.nav-bar a{
  color: #818181;
}

@media screen and (max-width : 1440px) {
  .nav-bar{
    gap: 9.75vw;
      margin-top: 4.9125vw;
      font-size: 2.5vw;
  }
}